)
        with:
          python-version: '3.10'

      - name: Exécuter le script de génération
        run: python generate_bom.py

      - name: Commiter et Pousser le fichier BOM.md
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add BOM.md
          if git diff --quiet && git diff --staged --quiet; then
            echo "Aucun changement détecté."
          else
            git commit -m "Mise à jour automatique du BOM.md"
            git push
          fi
