name: Update STL BOM
on:
  push:
    paths:
      - '**/*.stl'      # Se déclenche seulement si un fichier STL est ajouté/modifié
      - 'generate_bom.py' # Ou si vous modifiez le script lui-même
  workflow_dispatch:    # Permet de lancer le script manuellement depuis l'onglet Actions

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # Donne la permission d'écrire le fichier bom.md sur le dépôt
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Generate BOM.md
        run: python generate_bom.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated BOM update [skip ci]"
          file_pattern: 'bom.md'
          branch: ${{ github.head_ref || github.ref_name }}
