name: Generate STL BOM

on:
  push:
    paths:
      - '**.stl' # Se déclenche uniquement si des fichiers STL changent
  workflow_dispatch: # Permet de le lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Autorise l'action à modifier ton dépôt

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run BOM script
        run: python generate_bom.py # Assure-toi que ton script s'appelle ainsi

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: mise à jour automatique de la nomenclature (BOM)"
          file_pattern: 'BOM.md'
