name: Update STL BOM
on:
  push:
    paths:
      - '**/*.stl'
      - 'print_settings.json'
      - 'generate_bom.py'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Important !
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Récupère tout l'historique pour git config

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Generate BOM
        run: python generate_bom.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "System: Auto-update Nomenclature [skip ci]"
          file_pattern: 'bom.md print_settings.json'
          # Ces options évitent de planter si le script ne change rien au texte
          skip_dirty_check: true 
          skip_fetch: true
          disable_globbing: true
