name: Update STL BOM
on:
  push:
    paths:
      - '**/*.stl'
      - 'generate_bom.py'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Generate Segmented BOM
        run: python generate_bom.py

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update BOM by components [skip ci]"
          file_pattern: 'bom.md'
